@import "~bootstrap/scss/bootstrap";

:root {
	--bg-main: #234;
	--wdw-bg: #345;

	--link-main: #48f;
	--link-hover: #ff32ff;
	--link-active: #00ff80;
}

* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Encode Sans Expanded', sans-serif;
	font-weight: 300;
}

h1 {
	margin-bottom: 1rem;
}

p {
	text-align: justify;
	margin-bottom: 0.5rem;
}

a {
	font-weight: 500;
	color: #fff;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.25);
	
	&:hover {
		color: #fff;
		text-decoration: underline;
	}

	&:active {
		color: #fff;
	}
}

html, body {
	background-color: var(--bg-main);
}

header, footer {
	background-color: var(--wdw-bg);
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px;
}

header {
	margin-top: 20px;
	
	div#header-box {
		width: 30%;
		min-width: 330px;

		h1 {
			margin: 0;
			padding: 0;
			width: 100%;
			text-align: center;
		}
		
		nav ul {
			margin: 0;
			padding: 0;
			width: 100%;
			text-align: center;
			list-style: none;

			li {
				display: inline;
				margin: 8px;
			
				font-variant: small-caps;
				letter-spacing: 4px;
			}
		}
	}
}

a {
	color: var(--link-main);
	text-decoration: none;
	transition: ease 0.2s all;
	
	&:hover {
		color: var(--link-hover);
		text-decoration: none;
	}
	
	&:active {
		color: var(--link-active);
	}
}

footer {
	bottom: 0;
	width: 100%;
	
	p {
		padding: 5px 0;
		margin: 0;
		text-align: center;
	}
}


.cut-line {
	width: calc(100% - 20px);
	margin: 0 20px;
	padding: 5px 0;
	border-left: dashed 1px rgba(255, 255, 255, 0.25);
}

.gradient-line {
	width: 100%;
	height: 4px;
	
	// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff32ff+0,0080ff+50,00ff80+100
	background: #ff32ff; // Old browsers
	background: -moz-linear-gradient(left, #ff32ff 0%, #0080ff 50%, #00ff80 100%); // FF3.6-15
	background: -webkit-linear-gradient(left, #ff32ff 0%,#0080ff 50%,#00ff80 100%); // Chrome10-25,Safari5.1-6
	background: linear-gradient(to right, #ff32ff 0%,#0080ff 50%,#00ff80 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff32ff', endColorstr='#00ff80',GradientType=1 ); // IE6-9
}

div.wdw {
	margin: 20px auto;
	padding-right: 20px;
	background-color: #345;
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px;

	div.cut-line {
		padding: 10px 0 20px 20px
	}
}

div.wdw.wdw-xl {
	width: 90%;
}

div.wdw.wdw-lg {
	width: 75%;
}

div.wdw.wdw-md {
	width: 50%;
}

div.wdw.wdw-sm {
	width: 40%;
}

div.wdw.wdw-xs {
	width: 25%;
}

.big-emoji {
	--font-size: 2em;
	position: absolute;
	text-align: right;
	top: calc(50% - var(--font-size) * 0.5);
	font-size: var(--font-size);
	letter-spacing: -0.2em;
	white-space: nowrap;
	cursor: help;
}

	
@media screen and (max-width: 1200px) {
	.big-emoji {
		position: relative;
		text-align: center;
	}
}

.job {
	margin-top: 20px;

	.hashtags {
    opacity: 0.5;
	}

	.job-details {
		float: right;
		// margin-top: -28px;
		margin-right: -20px;
		width: 300px;
		font-size: 14px;

		.date {
			display: inline-block;
			width: 100px;
			padding: 0 5px;
			background-color: #AEBCDF;
			text-align: right;
			color: #334455;
			font-style: italic;
		}
		
		.location {
			display: inline-block;
			width: 200px;
			white-space: nowrap;
			padding: 0 5px;
			background-color: #F0F0FF;
			color: #334455;
		}

		.website {
			display: inline-block;
			width: 300px;
			height: 1.5em;
			padding: 0 0 0 100px;
			background-color: #D4DAEE;
			vertical-align: top;

			a {
				font-weight: normal;
				font-size: 12px;
				color: #334455;
			}
		}
	}
}

.collapser {
	background-color: rgba(white, 0.1);
	width: 100%;
	height: 2em;
	border: none;
}

.profile-picture-bg {
	height: 300px;
	background: url(../images/profile_picture.png);
	background-position: center 17.5%;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 640px) {
	div.wdw.wdw-xl,
	div.wdw.wdw-lg,
	div.wdw.wdw-md,
	div.wdw.wdw-sm,
	div.wdw.wdw-xs {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.cut-line.auto-hide {
		width: 100%;
		margin: 0;
		padding: 0;
		border-left: none;
	}

	div#header-box {
		margin: auto;
	}

	.job .job-details {
		float: none;
		margin: 0;
		width: auto;
	}

	.job .job-details .date, .job .job-details .location, .job .job-details .website {
		display: inline-block;
		padding: 0 5px 0 0;
		min-width: initial;
		width: fit-content;
		background-color: transparent;
		vertical-align: initial;
		text-align: left;
		font-size: 14px;
		opacity: 0.5;
		color: white;
	}

	.job .job-details .date::after {
		content: ', ';
	}

	.job .job-details .location::after {
		content: ' -';
	}

	.job .job-details .website a {
		color: white;
		font-size: 14px;
	}
}
